body {
  background-image: url('https://raw.communitydragon.org/11.24/plugins/rcp-fe-lol-collections/global/default/background.jpg');
  background-size: cover;
}

.tier3 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 3%;
}

.text-news {
  text-align: center;
  margin-top: 8%;
  margin-bottom: 3%;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 40s;
  animation-name: fade;
  animation-duration: 40s;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.child-image-1,
.child-image-2 {
  filter: blur(4px);
  position: absolute;
  max-width: 750px;
  margin: auto;
  display: block;
}

.child-image-2 {
  right: 5vw;
}

.child-image-1 {
  left: 5vw;
}

@media screen and (max-width: 809px) {
  .child-image-1, .child-image-2
  {
    display: none;
  }
}