body, html {
    background-color: #000000 !important;
    width: 100%;
    height: 100%;
}

.mainContainerAcademy{
    margin-top: 5%;
}

h2, h4{
    text-align: center;
}

.adjustText{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25.5%;
    border: rgb(78, 78, 78) 1px solid;
    padding-bottom: 1%;
    background-color: rgb(27, 27, 27);
}


.adjustText img{
    max-width: 63%;
    border: rgb(78, 78, 78) 1px solid;
    padding: 0 !important;
}

.adjustText label{
    border-bottom: rgb(78, 78, 78) 1px solid;
}

.videosFirstRow{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}


.adminNewVideo{
    position: relative;
    padding: 1%;
    background-color: #272727;
    font-size: 14px;
    top: 10%;
    left: 73.3%;
    width: 15%;
}