body, html {
    background: url('https://raw.communitydragon.org/12.5/game/assets/ux/loadingscreen/trueshot/trueshot_cities.trueshot.png')  no-repeat center center fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainContainerAcademy{
    margin-top: 4%;
    
}

.divNoAccount{
    margin-top: 13.9%;
    margin-bottom: 15%;
    text-align: center;
}

h2, h4{
    text-align: center;
    font-family: OpenSansRegular;
}

.modal-body input, select, textarea{
    background: transparent;
}

.modal-body select{
    background-color: #212529;
}

.videoName, .videoDifficult, .ulrDoVideo, .thumbnail, .videoDescricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vr{
    margin-left: -10%;
}

h2{
    margin-top: 2% !important;
}

.adjustText{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25.5%;
    border: rgb(78, 78, 78) 1px solid;
    padding-bottom: 1%;
    background-color: rgb(27, 27, 27);
}


.adjustText img{
    max-width: 63%;
    border: rgb(78, 78, 78) 1px solid;
    padding: 0 !important;
    cursor: pointer;
    margin-top: 2px;
}

.adjustText label{
    border-bottom: rgb(78, 78, 78) 1px solid;
    cursor: pointer;
}

.videosFirstRow{
    margin-top: 0%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 4%;
    flex-flow: row wrap;

    border-radius: 10px;
    border: 1px solid grey;
    padding: 2%;
    background: linear-gradient(340deg, #0000005e, #30303091, #6161616c);
    background-size: 600% 600%;
    -webkit-animation: backgroundAcademy 21s ease infinite;
    -moz-animation: backgroundAcademy 21s ease infinite;
    -o-animation: backgroundAcademy 21s ease infinite;
    animation: backgroundAcademy 21s ease infinite;
}

footer{
    margin-top: 8.2%;
}

@-webkit-keyframes backgroundAcademy {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}
@-moz-keyframes backgroundAcademy {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}
@-o-keyframes backgroundAcademy {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}
@keyframes backgroundAcademy {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}

.videos{
    border: 1px gray solid;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2%;
    background-color: #212529;
    transition: 0.3s;
    width: 20%;
}

.removeIt{
    opacity: 0%;
    display: none;
}

.videos:hover{
    border: 1px rgb(255, 24, 24) solid;
    transition: 0.3s;
    cursor: pointer;
    background-color: #1b1b1b;
}

.videos:hover label{
    transition: 0.3s;
    cursor: pointer;
    background-color: #1b1b1b;
}

.administration{
    text-align: center;
    margin-top: 3%;
}

.titulo{
    margin-top: 2%;
    padding: 1%;
    font-size: 16px;
}

.difficult, p{
    padding: 1%;
}

.videosBody{
    padding: 0% !important;
    display: flex;
    flex-direction: row;
    margin-bottom: 0% !important;
}

.videosFooter{
    margin-top: 0% !important;
}

@media screen and (max-width:900px) {
    .videos{
        border: 1px gray solid;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 2%;
        background-color: #212529;
        transition: 0.3s;
        width: 48%;
    }
}