* {
    color: rgb(0, 0, 0);
  }

body {
    margin: 0%;
    background-size: 100%;
    background-image: url("https://raw.communitydragon.org/11.24/plugins/rcp-fe-lol-collections/global/default/background.jpg");
}

.logo-gaiacup-nav {
    margin-top: -17.14vh;
    margin-left: 2vw;
    width: 6.2vw;
    position: absolute;
}

form {
    margin-left: 30%;
    margin-top: 9%;
}

h2 {
    font-family: Arial Black;
    color: rgb(0, 0, 0);
    text-align: center;
}

input {
    display: inline-block;
    width: 100%;
    height: 25px;
    border: none;
    text-align: center;
    margin-top: 4%;
    border-bottom: 2px solid rgb(100, 24, 100);
    font-size: 95%;
    outline: none;
}

.label-settings input:focus+label {
    font-size: 16px;
    margin-top: 0%;
}

.label-settings {
    position: relative;
    font-family: arial;
}

.label-settings label {
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 13px;
    transition: all 0.3s ease-out;
}

.style-login, .style-register {
    padding: 15px;
    margin-left: 4%;
    width: 400px;
    height: 370px;
    border: 3px solid rgb(151, 78, 151);
    border-radius: 3%;
    background-color: white;
}

.password-visible-blind {
    position: absolute;
    margin-left: 90%;
    margin-top: 4%;
    cursor: pointer;
}

button:hover {
    transition: 200ms;
    background-color: rgb(163, 19, 163);
}

button {
    font-family: arial black;
    font-size: 11pt;
    background-color: violet;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.button-login, .button-cadastro {
    width: 26%;
    margin-top: 7%;
}

p, a {
    padding-top: 4%;
    text-decoration: none;
    font-family: arial;
    font-size: 100%;
}

a {
    font-family: arial black;
    color: #000;
    transition: all 0.1s ease-out;
}

a:hover {
    color: rgb(177, 32, 177);
}