@font-face {
  font-family: BannerFont;
  src: url('../fonts/ash.otf');
}

@font-face {
  font-family: OpenSansRegular;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSansLight;
  src: url('../fonts/OpenSans-Light.ttf');
}

* {
  /* border: 1px red solid; */
  font-family: OpenSansLight;
  color: white;
}

body {
  margin: 0;
  background-repeat: no-repeat;
}

a {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #4d4d4d00;
}

::-webkit-scrollbar-thumb {
  background: rgb(168, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 183, 255);
}

.slide-animacao-banner {
  animation: 1s wrapper-banner;
}

.opacity-animacao {
  animation: 1s wrapper-opacity;
}

.rank-show{
  animation: 0.5s rank-show;
}

.rank-border{
  animation: 7s rank-border;
}

.rank-poem{
  animation: 2s rank-poem;
}

.input-goup-login{
  animation: input-goup-login 0.25s;
}

@keyframes wrapper-opacity {
  from {
    opacity: 100%;
  }

  to {
    bottom: -56vh;
    opacity: 0%;
  }
}

@keyframes wrapper-banner{
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}


@keyframes wrapper-winners-img {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }

  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}

@keyframes rank-show {
  from{
    opacity: 0%;
  }

  to{
    opacity: 100%;
  }
}

@keyframes rank-border {
  from {
    width: 0%;
  }

  top {
    width: 100%;
  }
}

@keyframes rank-poem {
  from{
    opacity: 0%;
  }

  to{
    opacity: 100%;
  }
}

