body {
  margin: 0;
  background-repeat: no-repeat;
}

a {
  text-decoration: none !important;
}

* {
  /* border: 1px red solid; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
