body{
    margin: 0;
    padding: 0;
    background-image: url('https://raw.communitydragon.org/12.3/plugins/rcp-fe-lol-clash/global/default/assets/images/background/background-worlds2021.jpg');
    background-size: auto;
}

body, html{
    height: 90%;
    width: 100%;
}

*{
    font-family: OpenSansLight;
}

input{
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    border-bottom: #797979 solid 1px;
    outline: none;
    font-size: 20px;
    margin-left: 20%;
}

.container-login-main{
    margin-top: 2.5%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.hrDivisor{
    margin-top: 4%;
    border-color:rgb(134, 134, 134);
}

.container-login-submain{
    width: 40%;
    background-color: #1a1a1c;
    padding: 2%;
    border: 2px rgb(116, 116, 116) solid;
    border-radius: 10px 0px 0px 10px;
}

.container-sideway-submain{
    border: 2px rgb(116, 116, 116) solid;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    width: 40%;
    background-image: url('../images/bg.gif');  
    background-repeat: no-repeat;
    background-size: cover;  
    padding: 2%;
}

.imgCapslock, .imgCapslockAdmin{
    margin-top: 4vh;
    margin-left: 1%;
    width: 4vh;
    height: 2vw;
    position: absolute;
    opacity: 0;
}

.content-title{
    font-size: 30px;
    padding-left: 0;
    text-align: center;
    font-family: OpenSansRegular;
}

.div-forgot-something{
    text-align: center;
}

.div-user-decision{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.div-user-enter, .div-user-registro{
    position: relative;
}

.imgOcultando, .imgOcultandoRegistro, .imgOcultandoRegistroConfirm, .imgOcultandoAdmin{
    width: 5%;
    margin-left: -7%;
    cursor: pointer;
}

.btnDecision{
    margin-top: 10%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    font-size: larger;
    height: 50px;
    font-family: OpenSansRegular;
    border: 1px rgb(116, 116, 116) solid;
}

.lbl-forgot-something{
    cursor: pointer;
}

.btnEntrar, .btnCadastro, .btnEntrarAdmin{
    background: black;
    width: 100%;
}

.btnCadastrar, .btnIsessao{
    background: black;
    width: 100%;
}

.container-login-submain input{
    width: 55%;
    margin-top: 5%;
}

.container-login-submain label{
    margin-top: 0.5%;
}

.login-logo{
    width: 35%;
}

.container-login-logo{
    text-align: center;
}

.pText, .pError{
    position: absolute;
    margin-left: 8%;
    color: #797979;
    z-index: 1;
}

.pError{
    margin-left: -12%;
    color: rgb(255, 71, 71);
}

.inpLogin{
    margin-top: 3%;
    z-index: 2;
}

.container-admin-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25.5rem;
}

.sideway-admin-textbottom{
    position: absolute;
    bottom: 0;
}

.container-admin-invert{
    transition: 1s;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
}

.adjusted-border-right{
    border-left: none;
    border: 2px rgb(116, 116, 116) solid;
    border-radius: 0px 10px 10px 0px;
}

.adjusted-border-left{
    border-right: none !important;
    border: 2px rgb(116, 116, 116) solid;
    border-radius: 10px 0px 0px 10px;
}

@keyframes input-goup-login {
    from{
      margin-top: 2.3%;
      font-size: 20px;
    }
  
    to{
      margin-top: 0.5%;
    }
  }