body{
    margin: 0;
    padding: 0;
    background: url('https://raw.communitydragon.org/12.5/game/assets/ux/loadingscreen/clash_ls_bg_1024x512.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body, html{
    height: 90%;
    width: 100%;
}

.copyright{
    color: #c0c0c0 !important;
    font-size: smaller;
}

*{
    font-family: OpenSansLight;
}

input{
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    border-bottom: #797979 solid 1px;
    outline: none;
    font-size: 20px;
    margin-left: 20%;
}

.container-login-main{
    margin-top: 2.5%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.hrDivisor{
    margin-top: 4%;
    border-color:rgb(134, 134, 134);
}

.container-login-submain{
    width: 40%;
    background-color: #1a1a1c;
    padding: 2%;
    border: 2px rgb(116, 116, 116) solid;
    border-radius: 10px 0px 0px 10px;
}

.container-sideway-submain{
    border: 2px rgb(116, 116, 116) solid;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    width: 40%;
    background-image: url('https://cdnportal.mobalytics.gg/production/2021/06/64779e0a-league-of-legends-game-bg.png');  
    background-repeat: no-repeat;
    background-size: cover;  
    padding: 2%;
}

.imgCapslock, .imgCapslockAdmin{
    margin-top: 5vh;
    margin-left: 1%;
    width: 4vh;
    height: 1vw;
    position: absolute;
    opacity: 0;
}

.content-title, .content-title-admin{
    font-size: 30px;
    padding-left: 0;
    text-align: center;
    font-family: OpenSansRegular;
}

.div-forgot-something{
    text-align: center;
}

.div-user-decision{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.div-user-enter, .div-user-registro{
    position: relative;
}

.imgOcultando, .imgOcultandoRegistro, .imgOcultandoRegistroConfirm, .imgOcultandoAdmin{
    width: 5%;
    margin-left: -7%;
    cursor: pointer;
}

.btnDecision{
    margin-top: 10%;
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
    height: 50px;
    font-family: OpenSansRegular;
    border: 1px rgb(116, 116, 116) solid;
    background: rgb(34, 34, 34) !important;
}



.lbl-forgot-something{
    cursor: pointer;
}

.btnEntrar, .btnCadastro, .btnEntrarAdmin{
    width: 100%;
    transition: 0.2s;
}

.btnDecision:hover{
    transition: 0.2s;
    background: rgb(59, 59, 59) !important;
    color: #008cff;
}

.btnCadastrar, .btnIsessao{
    background: black;
    width: 100%;
}

.container-login-submain input{
    width: 55%;
    margin-top: 5%;
}

.container-login-submain label{
    margin-top: 0.5%;
}

.login-logo{
    width: 35%;
}

.container-login-logo{
    text-align: center;
}

.pText, .pError{
    position: absolute;
    margin-left: 8%;
    color: #797979;
    z-index: 1;
}

.pError{
    margin-left: -12%;
    color: rgb(255, 71, 71);
}

.inpLogin{
    margin-top: 3%;
    z-index: 2;
}

.sideway-admin-textbottom{
    margin-top: 40%;
    background-color: rgb(255, 53, 53);
    padding: 2%;
    border-radius: 5px;
    transition: 0.3s;
}

.sideway-admin-textbottom:hover{
    background-color: rgb(104, 1, 1);
    transition: 0.3s;
    cursor: pointer;
}

.leagueoflegendsLogo{
    width: 53%;
}

.logoLeague{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container-admin-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-admin-invert{
    transition: 1s;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
}

.adjusted-border-right{
    border-left: none;
    border: 2px rgb(116, 116, 116) solid;
    border-radius: 0px 10px 10px 0px;
}

.adjusted-border-left{
    border-right: none !important;
    border: 2px rgb(116, 116, 116) solid;
    border-radius: 10px 0px 0px 10px;
}

@keyframes input-goup-login {
    from{
      margin-top: 2.3%;
      font-size: 20px;
    }
  
    to{
      margin-top: 0.5%;
    }
  }