*{
    /* color: black; */
    /* border: 1px red solid; */
}

body{
    background-image: url('https://raw.communitydragon.org/12.5/plugins/rcp-fe-lol-clash/global/default/assets/images/background/background-void.jpg');
    background-size: cover;
}

.divTeam{
    margin-top: 3%;
    background-color: darkgray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px 15px 0px 0px;
}

.divTeamHeader{
    display: flex;
    align-items: flex-end;
    gap: 1%;
}

.h2TeamHeaderName{
    font-family: OpenSansRegular;
}

.h3TagHeaderName{
    font-size: 16px;
    color: rgb(59, 59, 59);
}

.teamHeaderImg{
    border-radius: 50%;
    border: 1px gray solid;
}

.divTeamMain{
    background-color: rgb(29, 29, 29);
    width: 70%;
}

.divPlayers{
    margin-top: 2%;
    margin-left: 2%;
}

.divPlayers input{
    background-color: transparent;
    margin-top: 0.8%;
    font-size: 20px;
    outline: none;
    border: none;
}

.divTeamBody{
    display: flex;
    justify-content: space-between
}

.divTeamInformation{
    width: 30%;
}

.perfilImageJogador{
    width: 8%;
    border-radius: 50%;
    border: 1px gray solid;
}

.divTeamInformation{
    background-color: bisque;
}  

.lblPlayers{
    position: absolute;
    color: azure;
    margin-top: -0.3%;
}

.divCreatedBy{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.imgCreatedByUser{
    border-radius: 50%;
    border: 1px gray solid;
}

.nameCreatedBy, .dateCreated{
    border-bottom: 1px grey solid;
}

.btnTools{
    cursor: pointer;
}

.removeTeam{
    color: rgb(212, 29, 29);
}

.divNoTeam{
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.divWhatShouldDo, .divCreateTeamInformation{
    width: 30%;
    padding: 1%;
}

.divCreateTeamInformation{
    /* background-color: burlywood; */
}

.divWhatShouldDo{
    /* background-color: rgb(117, 100, 78); */
}

.btnCreateTeam, .btnSearchTeam{
    color: white;
    transition: 1s;
    font-weight: bolder
}

.btnCreateTeam:hover, .btnSearchTeam:hover{
    transition: 1s;
    cursor: pointer;
    color: rgb(255, 116, 116);
}

.MyTeam-Title{
    margin-top: 2%;
    text-align: center;
    font-family: OpenSansRegular;
}