body{
    background: url('../images/background-shadow_isles.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.divTeam{
    margin-top: 3%;
    background-color: rgb(27, 27, 27);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px 15px 0px 0px;
}

.divTeamHeader{
    display: flex;
    align-items: flex-end;
    gap: 1%;
}

.h2TeamHeaderName{
    font-family: OpenSansRegular;
}

.h3TagHeaderName{
    font-size: 16px;
    color: rgb(139, 139, 139);
}

.teamHeaderImg{
    border-radius: 50%;
    border: 1px gray solid;
}

.divTeamMain{
    background-color: rgb(29, 29, 29);
    width: 70%;
}

.divPlayers{
    margin-top: 2%;
    margin-left: 2%;
}

.divPlayers input{
    background-color: transparent;
    margin-top: 0.8%;
    font-size: 20px;
    outline: none;
    border: none;
}

.divTeamBody{
    display: flex;
    justify-content: space-between
}

.divTeamInformation{
    width: 30%;
}

.perfilImageJogador{
    width: 8%;
    border-radius: 50%;
    border: 1px gray solid;
}

.divTeamInformation{
    background-color: rgb(0, 0, 0);
}  

.lblPlayers{
    position: absolute;
    color: azure;
    margin-top: -0.3%;
}

.divCreatedBy{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.imgCreatedByUser{
    border-radius: 50%;
    border: 1px gray solid;
}

.nameCreatedBy, .dateCreated{
    border-bottom: 1px grey solid;
}

.btnTools{
    cursor: pointer;
}

.imgCreatedByUser{
    max-width: 21%;
    width: 21%;
    min-width: 21%;
}

.removeTeam{
    color: rgb(212, 29, 29);
}

.divNoTeam{
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.divWhatShouldDo, .divCreateTeamInformation{
    width: 30%;
    padding: 1%;
}

.btnCreateTeam, .btnSearchTeam{
    color: white;
    transition: 0.3s;
    font-weight: bolder;
    
}

.btnSearchTeam{
    margin-top: 6%;
}

.btnCreateTeam:hover, .btnSearchTeam:hover{
    transition: 0.3s;
    cursor: pointer;
    color: rgb(65, 154, 255);
}

.MyTeam-Title{
    margin-top: 2%;
    text-align: center;
    font-family: OpenSansRegular;
}

.divCreatingTeam{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 600;
    padding: 3%;
    width: 30%;
}

.inpCreate{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    border: 1px gray solid;
    transition: 0.3s;
    padding: 0.4%;
    background-color: rgb(2, 74, 156);
}

.inpCreate:hover{
    transition: 0.3s;
    cursor: pointer;
    color: rgb(65, 154, 255);
}

.divSubContainerCreatingTeam{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.inpCreatingTeam{
    background-color: transparent;
    border: none;
    border-bottom: 1px gray solid;
    outline: none;
    margin-top: 7%;
    width: 120%;
    margin-left: -10%;
}

.lblCreateTeam{
    color: #707677;
    position: absolute;
    margin-top: -2%;
    margin-left: -5%;
    width: 100%;
}

.middle{
    margin-top: 4%;
    margin-bottom: 4%;
}

@keyframes input-goup-login {
    from{
      margin-top: 4%;
      font-size: 16px;
    }
  
    to{
      margin-top: -2%;
    }
  }