.active {
  color: rgb(255, 57, 57) !important;
}

a:hover {
  color: rgb(0, 162, 255) !important;
}

.nav-item{
  margin-left: 1%;
}

.nav-logo{
  position: relative;
  margin-top: 0;
  width: 10vw !important;
}

.upper{
  border-top: 0.1vw black  solid !important;
}