.active {
  color: rgb(255, 57, 57) !important;
}

a:hover {
  color: rgb(0, 162, 255) !important;
}

.nav-item{
  margin-left: 1%;
}

.userImage{
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}

.contaConectada{
  margin-left: 20%;
  font-size: 1.3rem;
}

.meuDropDown{
  z-index: 4 !important;
  background-color: #292b2c !important;
}

.meuDropDown a{
  color: rgb(173, 173, 173) !important;
}

.meuDropDown a:hover{
  background-color: #333536 !important;
}
