body {
  background-color: #000000 !important;
}

.body-container-main {
  position: relative;
  margin-top: 5%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none !important;
}

#miniPage-0, #miniPage-1, #miniPage-2, #miniPage-3{
  position: absolute;
  right: 1%;
}

#miniPage-0{
  margin-top: 13%
}

#miniPage-1{
  margin-top: 15%
}

#miniPage-2{
  margin-top: 17%
}

#miniPage-3{
  margin-top: 19%
}

.hideContent{
  display: none !important;
}

.showContent{
  display: block !important;
}