body {
  width: 100%;
  height: 100%;
  
  background: linear-gradient(91deg, #000000, #2f2f2f, #855151, #2d2d2d, #000000, #406b78, #2f2f2f, #000000);
  background-size: 1600% 1600%;

  -webkit-animation: AnimationName 40s ease infinite;
  -moz-animation: AnimationName 40s ease infinite;
  animation: AnimationName 40s ease infinite;
}


.aboutimage{
  width: 100%;
  position: relative;
}


@-webkit-keyframes AnimationName {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}
}
@keyframes AnimationName {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}
}