.banner-timing{
    position: fixed;
    left: 5%;
    bottom: 2vh;
    width: 90%;
    height: 5.5vw;
    z-index: 5;
    background-image: url('../images/banner_background.gif');
    background-size: cover;
    border-radius: 1vw;
}

.banner-timer-countdown{
    font-weight: bolder;
    font-size: 3.5vw;
    font-family: BannerFont;
    color: black !important;
    letter-spacing: 0.1em;
    text-align: center;
}

.banner-logo{
    position: absolute;
    width: 10vw;
    left: 2vw;
}

.banner-close{
    position: absolute;
    width: 3vw;
    top: -1.5vw;
    right: 2vw;
}