body {
    background-image: url('https://raw.communitydragon.org/11.24/plugins/rcp-fe-lol-collections/global/default/background.jpg');
    background-size: cover;
    text-decoration: none;
}

#twitch-embed {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    height: 510px;
    box-shadow: 0px 0px 4px 10px #000000
}