.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}

.tier3{
  text-align: center;
  margin-top: 6%;
  margin-bottom: 4%;
}

#mudar-slider-direita {
  width: 8vh;
  position: absolute;
  right: 21vw;
  top: 50vh;
  cursor: pointer;
}

#mudar-slider-esquerda {
  width: 8vh;
  position: absolute;
  left: 21vw;
  top: 50vh;
  cursor: pointer;
}