.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.child-image-1,
.child-image-2 {
  filter: blur(4px);
  position: absolute;
  max-width: 997px;
  margin: auto;
  display: block;
}

.child-image-2 {
  right: 5vw;
}

.child-image-1 {
  left: 5vw;
}
