.active {
  color: rgb(207, 91, 253);
}

a:hover {
  color: rgb(234, 180, 255) ;
}

.nav-item{
  margin-left: 1rem;
}

.nav-logo{
  position: relative;
  margin-top: -1.5%;
  width: 10vw;
}

.upper{
  border-top: 0.1vw black  solid ;
}