.nav-container-main
{
    height: 48px;
    background-color: black;
}

.lblINICIO, .lblSOBRE, .lblREGULAMENTO, .lblCADASTRO, .lblINICIARSESSAO
{
    position: absolute;
    font-size: larger;
    color: white;
    top: 1.8%;
}

.lblINICIO
{
    left: 10%;
}

.lblSOBRE
{
    left: 17%;
}

.lblREGULAMENTO
{
    left: 24%;
}

.lblINICIARSESSAO
{
    left: 79%;
}

.lblCADASTRO
{
    left: 91.3%;
}
