#footer{
    font-family: Georgia;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    

}

#footer li{
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    
}

#footer a{

color: white;

}

ul{
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 20px solid rgb(240, 97, 41);
  background-color:  rgb(240, 97, 41);
  ;
    
}
    
#bradesco{
    
}
