body{
margin: 0%;
}
#menu{
font-size: 23px;
color: white;
background: rgb(233, 183, 18);
padding: 1%;
padding-left: 8%;
right: 0%;
left: 0%;
position: fixed;
z-index: 100;
}
.logo{
border-radius:50%  ;
width: 100px;
height: 90px;
position: absolute;
right: 90%;
}
.reserva{
background-color: rgb(212, 212, 212);
}
.ajustes{
padding: 4%;
margin-top: 2%;
}
.imgBeach{
box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.678);
transform: scale(0.98);
margin-top: 6%;
margin-left: 2%;
}
.imgBeach2{
text-align: center;
width: 24%;
height: 255px;
border: solid 10px rgb(255, 255, 255);
}
.container{
text-align: center;
margin-left: 4%;
margin-top: 2%;
padding: 4%;
background-color: rgb(99, 82, 82);
display: flex;
width: 83%;
height: 250px;
border-radius: 10px 10px 10px 10px;
}
.bt1{
margin-top: 19%;
margin-left: 8%;
}
.maps{
width: 600px;
height: 380px;
margin-top: 2%;
}
.mapsAjs{
margin-top: 3%;
padding: 2%; 
background-color: rgb(233, 183, 18);
}
.footerSF{
padding: 1%;
background-color: rgb(212, 212, 212);
}
footer{
padding-top: 3%;
}
.formPagamento{
text-align: center;
margin-left: 43%;

}
/* config.menu */

.inicio{
padding-left: 4%;
}
.beachroute{
padding-left: 4%;
}
.entrar{
padding-left: 59%;
}
.cadastrar{
padding-left: 4%;
}
