#fto{
    padding-top: 3%;

  }
  #m{
    padding-left: 10%;
  }
  #e{
    padding-left: 4%;
  }
  #n{
    padding-left: 4%;
  }
  #u{
    padding-left: 4%;
  }
  #d{
    padding-left: 4%;
  }
  #e{
    padding-left: 4%;
  }
  #n{
    padding-left: 4%;
  }
  #a{
    padding-left: 4%;
  }
  #menu{
    font-size: 22px;
    padding-top: 2%;
    font-family: Impact;
    color: #fdc72a;
    
  }