.tabelacontainerGCUP img{
     width: 80px;
     height: 80px;
}

.tabelacontainerGCUP label{
     margin-left: 3%;
}

.tabelacontainerGCUP{
     display: flex;
     flex-wrap: wrap;
}

.grupoCGCUP, .grupoAGCUP, .grupoBGCUP, .grupoDGCUP{
     width: 40%;
     border: 1px black solid;
     border-radius: 2px;
     margin-left: 5%;
     margin-top: 2.5%;
     margin-bottom: 2.5%;
     padding: 1%;
     background-color: rgb(232, 232, 232);
     -webkit-box-shadow: 5px 5px 15px 5px #000000; 
     box-shadow: 5px 5px 15px 5px #000000;
     font-family: Shentox;
}

.grupoCGCUP div, .grupoAGCUP div, .grupoBGCUP div, .grupoDGCUP div{
     display: flex;
     align-items: center;
     position: relative;
     /* justify-content: space-between; */
}

.grupoCGCUP h3, .grupoAGCUP h3, .grupoBGCUP h3, .grupoDGCUP h3{
     display: flex;
     align-items: center;
     font-family: Openregular;
     font-weight: bolder;
}

.grupoCGCUP label, .grupoAGCUP label, .grupoBGCUP label, .grupoDGCUP label{
     font-weight: bolder;
}

.grupoCGCUP p, .grupoAGCUP p, .grupoBGCUP p, .grupoDGCUP p{
     font-size: 16px;
     font-weight: bolder;
     margin-top: 3%;
     position:absolute;
     right:0;
}