.divContainerQuartos
{
    display: grid;
    margin: 1%;
    position: absolute;
    bottom: 50%;
    font-size: 1.6vw;
}

.divDias
{
    display: grid;
    margin: 1%;
    position: absolute;
    bottom: 0;
    font-size: 1.6vw;
}

.divInformacoesExtras
{
    display: grid;
}