*
{
    margin: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    margin: 0px
}

body{
    background-color: #fdc72a;
    background-image: linear-gradient(0deg, #fdc72a 40%, #f36f34 90%, #ef4838 100%);
    background-repeat: no-repeat;
}

#divCorpoLC{
    border: 1px solid #810000;
    border-radius: 15px 0px 0px 15px;
    position: absolute;
    left: 13vw;
    top: 13vh;
    width: 54.65vw;
    height: 50vh;
    box-shadow: 10px 10px 5px rgb(10, 10, 10);
    background-color: rgb(255, 255, 255);
    filter: blur();
}

#divCorpoLC h3{
    text-align: left;
    color: #52374f ;
    font-size: 2.8vw;
}
#divCorpoLC input#inpEmailLogin{
    text-align: left;
    margin-right: 30vw;
    font-size: 1.5vw;
}

#divCorpoLC input#inpSenhaLogin{
    text-align: left;
    font-size: 1.5vw;
}

#divCorpoLC button{
    font-size: 170%;
    border: transparent;
    background: transparent;
    cursor: pointer;
    margin-top: 15vh;
    margin-left: 2.4vw;
}

#beachRoute{
    position:absolute;
    width: 24.35vw;
    left: 30vw;
    top: -0.7vh;
    border: #810000 1px solid;
}

#divCadastro-Container{
    display: none;
}

#divCadastro-Container #btnCadastro{
    position: absolute;
    top: 25.7vh;
    left: 0.4vw;
}

