@font-face {
    font-family: SagoeUiNew;
    src: url(./src/SegoeUIVariableStaticDisplay.ttf);
}

*
{
    border: 0vw;
    font-family: SagoeUiNew;
}

.divClassContainerLogin, .divClassContainerRegistro
{
    position: absolute;
    background-color: rgb(136, 136, 136);
    left: 25%;
    top: 5%;
    width: 50%;
    height: 90%;
}

#imgLogo
{
    position: absolute;
    left: 30%;
    top: -2.5%;
    width: 40%;
}

#inpIdEmail
{
    position: absolute;
    left: 27%;
    top: 47.5%;
    width: 45%;
    font-size: 1.4vw;
}

#inpIdSenha
{
    position: absolute;
    left: 27%;
    top: 60.5%;
    width: 45%;
    font-size: 1.4vw;
}

#lblIdEmail
{
    position: absolute;
    left: 27%;
    top: 43.5%;
    font-size: 1.4vw;
}

#lblIdSenha
{
    position: absolute;
    left: 27%;
    top: 56.5%;
    font-size: 1.4vw;
    
}

.btnClasseEntrar
{
    position: absolute;
    left: 27%;
    top: 77.5%;
    font-size: 1.8vw;
    width: 46.5%;
}

.btnClasseCadastrar
{
    position: absolute;
    left: 27%;
    top: 86.5%;
    font-size: 1.8vw;
    width: 46.5%;
}

#labelLembrar
{
    position: absolute;
    left: 26.5%;
    top: 69.5%;
    font-size: 1.3vw;
    width: 46.5%;
}

#inpIdErroUsuario
{
    position: absolute;
    left: 27%;
    top: 52.8%;
    font-size: 1vw;
}

#inpIdErroSenha
{
    position: absolute;
    left: 27%;
    top: 65.5%;
    font-size: 1vw;
}

#inpIdRegistroNome
{
    position: absolute;
    left: 15%;
    top: 47.5%;
    width: 30%;
    font-size: 1.4vw;
}

#lblIdRegistroNome
{
    position: absolute;
    left: 15%;
    top: 43.5%;
    width: 30%;
    font-size: 1.4vw;
}


#lblIdRegistroSobrenome
{
    position: absolute;
    left: 47%;
    top: 43.5%;
    width: 30%;
    font-size: 1.4vw;
}

#lblIdRegistroEmail
{
    position: absolute;
    left: 47%;
    top: 53.5%;
    width: 30%;
    font-size: 1.4vw;
}

#lblIdRegistroConfirmarSenha
{
    position: absolute;
    left: 47%;
    top: 63.5%;
    width: 30%;
    font-size: 1.4vw;
}

#lblIdRegistroSenha
{
    position: absolute;
    left: 15%;
    top: 63.5%;
    width: 30%;
    font-size: 1.4vw;
}

#lblIdRegistroTelefone
{
    position: absolute;
    left: 15%;
    top: 53.5%;
    width: 30%;
    font-size: 1.4vw;
}

#inpIdRegistroSobrenome
{
    position: absolute;
    left: 47%;
    top: 47.5%;
    width: 30%;
    font-size: 1.4vw;
}

#inpIdRegistroEmail
{
    position: absolute;
    left: 47%;
    top: 57.5%;
    width: 30%;
    font-size: 1.4vw;
}

#inpIdRegistroTelefone
{
    position: absolute;
    left: 15%;
    top: 57.5%;
    width: 30%;
    font-size: 1.4vw;
}

#inpIdRegistroSenha
{
    position: absolute;
    left: 15%;
    top: 67.5%;
    width: 30%;
    font-size: 1.4vw;
}

#inpIdRegistroConfirmarSenha
{
    position: absolute;
    left: 47%;
    top: 67.5%;
    width: 30%;
    font-size: 1.4vw;
}